:root {
  --mono-font: ui-monospace, "SF Mono", "Cascadia Code", "Cascadia Code PL",
    "Roboto Mono", Consolas, Arimo, "Liberation Mono", "Source Code Pro";
  --system-font: ui-sans-serif, system-ui, —apple-system, "Segoe UI", Roboto,
    Emoji, Helvetica, Arial, sans-serif;
  --nord00: #2e3440;
  --nord01: #3b4252;
  --nord02: #434c5e;
  --nord03: #4c566a;
  --nord04: #d8dee9;
  --nord05: #e5e9f0;
  --nord06: #eceff4;
  --nord07: #8fbcbb;
  --nord08: #88c0d0;
  --nord09: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  --accent-color: var(--nord10);
  --accent-color-dark: var(--nord10);
  --bg-color: var(--nord06);
  --text-color: var(--nord00);
  --elevated-color: var(--nord04);
  --demoted-color:var(--nord03);
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--mono-font), var(--system-font), monospace;
  font-size: 16px;
  line-height: 1.7;
}

body {
  display: block;
  margin: 8px;
}

header {
  align-items: baseline;
}

a.nav-links {
  font-variant: small-caps;
}

body header a,
main h1 a {
  color: var(--accent-color);
  border: none;
}

::selection {
  background: var(--accent-color);
  color: var(--bg-color);
}

p {
  font-family: var(--mono-font);
}

hr {
  border: 0;
  border-top: 2px dotted var(--accent-color);
  margin: 1em 0;
}

blockquote {
  border-left: 2px solid var(--accent-color);
  color: var(--accent-color);
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 2px solid var(--accent-color);
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

ul {
  list-style: none;
  padding-left: 2ch;
}

ul li {
  text-indent: -2ch;
}

ul > li::before {
  content: "• ";
  font-weight: bold;
}

ul.pagination {
  padding-left: 0ch;
}

.page-item a,
a.readmore {
  border: none;
  color: var(--accent-color);
  font-weight: bold;
}

::marker,
ul > li::before {
  color: var(--accent-color);
}

img {
  border: 2px solid #ececec;
  max-width: 100%;
}

code,
pre {
  font-family: var(--mono-font);
}

code {
  background-color: var(--elevated-color);
  padding: 0.1em 0.2em;
}

pre {
  background-color: var(--elevated-color);
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
  background: var(--nord00);
  border-radius: 0 0 0.25em 0.25em;
  color: var(--nord06);
  font-size: smaller;
  letter-spacing: 0.025em;
  padding: 0.1em 0.5em;
  position: absolute;
  right: 1em;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  margin: 0;
  margin-bottom: 1em;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

.toc {
  font-size: small;
  color: var(--accent-color);
}

.toc a {
  border: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}

header .main {
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
  margin-top: 2em;
  color: var(--accent-color);
}

h1 {
  font-variant: small-caps;
}

h1.tags::before {
  color: var(--accent-color);
  content: "# ";
}

main h2::before {
  content: ">> ";
  font-size: smaller;
}

main h3::before {
  content: ">>> ";
  font-size: smaller;
}

h4::before {
  content: ">>>> ";
  font-size: smaller;
}

h5::before {
  content: ">>>>> ";
  font-size: smaller;
}

h6::before {
  content: ">>>>>> ";
  font-size: smaller;
}

.meta {
  color:var(--demoted-color);
  font-size: smaller;
}

footer {
  margin-top: 1em;
}

.title h1 {
  margin-bottom: 0;
}

time {
  color: var(--demoted-color);
}

article .title {
  margin-bottom: 1em;
}

.callout {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 1em;
}

.callout p {
  font-family: var(--mono-font);
  margin: 0;
}

.callout a {
  border-bottom: 3px solid var(--bg-color);
}

.callout a:hover {
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.site-description {
  display: flex;
  justify-content: space-between;
}

.tags {
  font-variant: small-caps;
}

.tags a:hover {
  background-color: var(--accent-color);
}

.post-tags {
  border-top: 2px dotted var(--accent-color);
}

.tags li::before {
  content: "# ";
}

svg {
  max-height: 16px;
}

.draft-label {
  color: var(--accent-color);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--nord11);
}


table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: smaller;
}

table th {
  padding: 0.5em;
  border-width: 3px 0 1px 0;
  border-color: var(--accent-color);
  border-style: solid;
  font-weight: bold;
  color: var(--accent-color);
  text-align: start;
}

table tr {
  border-width: 0 0 1px 0;
  border-color: var(--accent-color);
  border-style: solid;
}

table td {
  padding: 0.5em;
}
